{
    "presets": [
        [
            "@babel/env", {
                "targets": {
                "browsers": "last 2 versions, ie 10-11"
                },
                "modules": false
            },
            "@babel/preset-env"
        ]
    ]
}